.container > p{
    text-align: center;
}
nav{
    background-color: #741102;
    
}
nav img{
    margin-top: 25px;
    margin-left: 5px;
}
.brend cite{
    font-family:edwardian script itc;
    font-size: 50px;
    color: #b78c56;
}
.brend .lite{
    font-family: Perpetua Titling MT;
} 
.container p{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}
.batas-usia{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.now-playing{
    margin: 50px;
}
.now-playing .btn-secondary-1{
    background-color: #741102;
    color:rgb(234, 235, 235) ;
    font-family: Arial;
}
.now-playing .btn-secondary-1:hover{
    color: rgb(234, 235, 235);
}
.upcoming{
    margin: 50px;
}
.upcoming .btn-secondary{
    background-color: #741102;
    color:rgb(234, 235, 235) ;
    font-family: Arial;
}
.upcoming .btn-secondary:hover{
    color:rgb(234, 235, 235) ;
    background-color: #741102;
}
.view-more{
    margin: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.view-more .btn-secondary{
    background-color: #741102;
    color:rgb(234, 235, 235) ;
    font-family: Arial;
}
.view-more .btn-secondary:hover{
    background-color: #741102;
}
nav .form-control {
    padding: 10px 150px 10px 20px;
    border-radius: 15px;
    background-color: rgb(234, 235, 235);
}
ul li a{
    color: #741102;
    margin: 10px;
    
}
ul li a:hover{
    color: #b78c56;
}
.footer{
    background-color: #741102;
    padding:10px 30px 50px 30px;
}
.navbar-brand{
    color: rgb(234, 235, 235);
    margin: 0;
    font-size: 10px;
}
.navbar-brand:hover{
    color: #b78c56;
}
.footer img{
    width: 20px;
    margin: 0;
}
.text p{
    color: rgb(234, 235, 235) ;
    font-size: 12px;
}
