.container > p{
    text-align: center;
}
nav{
    background-color: #741102;
}
nav img{
    margin-top: 25px;
    margin-left: 5px;
}
.brend cite{
    font-family:edwardian script itc;
    font-size: 50px;
    color: #b78c56;
}
.brend .lite{
    font-family: Perpetua Titling MT;
} 
nav .form-control {
    padding: 10px 150px 10px 20px;
    border-radius: 15px;
    background-color: rgb(234, 235, 235);
}
.list{
    background-color: rgb(234, 235, 235);
}
ul li a{
    color: #741102;
    margin: 10px;
    
}
ul li a:hover{
    color: #b78c56;
}
.button-theater{
    margin: 0 0 0 30px;
}
.button-theater .btn-secondary{
    background-color: #741102;
    color:rgb(234, 235, 235) ;
    font-family: Arial;
}
.button-theater .btn-secondary:hover{
    background-color: #741102;
}
.btn-group .form-control {
    background-color:rgb(225, 225, 225) ;
}
.table-theater{
    margin:0 30px 0 30px;
}
.table .thead{
    background-color: #741102;
}
.table .cinema{
    font-family:edwardian script itc;
    font-size: 30px;
    color: #b78c56;
    padding-left: 70px;
}
.table cite{
    font-family: Perpetua Titling MT;
}
.table .Premiere{
    font-family:edwardian script itc;
    font-size: 30px;
    color: rgb(234, 235, 235);
}
.table .imax{
    font-family: Arial Black;
    font-size: 30px;
    color: rgb(234, 235, 235);
}
.table tr{
    color: #741102;
}
.table tr td{
    padding-left: 30px;
}
.update{
    background-color:  rgb(234, 235, 235);
    margin: 30px;
    padding: 30px 200px 30px 30px;
    font-size: 12px;
}
.footer{
    background-color: #741102;
    padding:10px 30px 50px 30px;
}
.navbar-brand{
    color: rgb(234, 235, 235);
    margin: 0;
    font-size: 10px;
}
.navbar-brand:hover{
    color: #b78c56;
}
.footer img{
    width: 20px;
    margin: 0;
}
.text p{
    color: rgb(234, 235, 235) ;
    font-size: 12px;
}
